* {
    padding: 0;
    margin: 0;
    
  }
body{
  width: 100vw;
  height: 100vh;
  background-color: #bccddd;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.containerDivs {
    width: 600px;
    height: 600px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
  }
#changeSize{
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  margin-bottom: 3em;
}
.button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0d68c8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3em;
}
.button1{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0d68c8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8em;
}
.button2{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0d68c8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8em;
}

/* Estilos para el botón cuando tiene la clase "pressed" */
.button2.pressed {
  background-color: #0d3179;
}
.square{
  box-sizing: border-box;
}
.square:hover{
    background-color: red;
}

